<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>829701120491-3ve9lis00p767caibun1s3fq5dpsradk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829701120491-3ve9lis00p767caibun1s3fq5dpsradk</string>
	<key>API_KEY</key>
	<string>AIzaSyD3PRehBLAW2gGfzqlWULmbBKCOYZscQtQ</string>
	<key>GCM_SENDER_ID</key>
	<string>829701120491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demoApp</string>
	<key>PROJECT_ID</key>
	<string>gki6t76wqcrzcgrd</string>
	<key>STORAGE_BUCKET</key>
	<string>gki6t76wqcrzcgrd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829701120491:ios:82a08bcbdcd724730ff9ae</string>
	<key>DATABASE_URL</key>
	<string>https://gki6t76wqcrzcgrd-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>